<?xml version="1.0" encoding="utf-8"?>
<!-- Fichier de configuration principal de l'application -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.edutrack">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/edutrack"
        android:label="EduTrack"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EduTrack"
        tools:targetApi="31">

        <!-- Activité d'ajout d'étudiant -->
        <activity android:name=".AjoutEtudiantActivity" />

        <!-- Activité de détails d'étudiant -->
        <activity android:name=".EtudiantDetailActivity" />

        <!-- Activité principale -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>